.small-size {
  width: 1.8rem;
  height: 1.8rem;
}

.medium-size {
  width: 2.2rem;
  height: 2.2rem;
}

.small-bottom-margin {
  margin-bottom: 1.8rem;
}

.medium-bottom-margin {
  margin-bottom: 2.4rem;
}

.large-bottom-margin {
  margin-bottom: 4.4rem;
}

.big-bottom-margin {
  margin-bottom: 6.4rem;
}

.txt-center {
  text-align: center;
}
