$primary-dark-blue: hsl(243, 87%, 12%);
$primary-desaturated: hsl(238, 22%, 44%);

$accent-bright-blue: hsl(224, 93%, 58%);
$accent-moderate-cyan: hsl(170, 45%, 43%);

$neutral-grayish-blue: hsl(240, 75%, 98%);
$neutral-light-gray: hsl(0, 0%, 75%);

$color-black: #000;

$dekstop: 120rem;
$mobile: 54rem;
